* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.skills-section {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.skills-container {
    max-width: 800px;
    margin: 0 auto;
}

.skills-container h2 {
    font-size: 2rem;
    color: #007ced;
    margin-bottom: 40px;
}

.skills-list {
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 18px;
}

.skills-list li {
    margin: 10px 0;
}
/* Styling for the Back to Home button */
.back-to-home-btn {
    display: inline-block;
    background-color: #007ced;
    color: #fff;
    padding: 5px 10px;
    margin-top: 30px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 0.7rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-to-home-btn:hover {
    background-color: #00c7ff;
    transform: scale(1.05);
}
